.list {
    list-style: none;
    display: flex;
  }
  
  .listItem {
    margin: 10px;
  }
  
  .link {
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .activeLink {
    color: red;
  }
  